<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <section class="example-container mat-elevation-z8" tabindex="0" style="padding: 1em;">
            <p><b>Identifiant de paiement:</b>{{ reclamation_details?.payment_id }}</p>
            <p><b>end_of_validity:</b> {{ reclamation_details?.end_of_validity }}</p>
            <p><b>first_time_in_circulation:</b> {{ reclamation_details?.first_time_in_circulation }}</p>
            <p><b>first_use_in_morocco:</b> {{ reclamation_details?.first_use_in_morocco }}</p>
            <p><b>mutation:</b> {{ reclamation_details?.mutation }}</p>
            <p><b>address:</b> {{ reclamation_details?.address }}</p>
            <p><b>matriculation_interior:</b> {{ reclamation_details?.matriculation_interior }}</p>
            <p><b>matriculation_number:</b> {{ reclamation_details?.matriculation_number }}</p>
            <p><b>owner:</b> {{ reclamation_details?.owner }}</p>
            <p><b>Identifiant de paiement:</b> {{ reclamation_details?.payment_id }}</p>
            <p><b>type_of_usage:</b> {{ reclamation_details?.type_of_usage }}</p>
            <p><b>particular_vehicle:</b> {{ reclamation_details?.particular_vehicle }}</p>

        </section>
    </div>
</div>
