<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <h1> <b>Ajouter nouvelle réclamation</b> </h1>
        <form #reclamationForm (ngSubmit)="CreateReclamation(reclamationForm)">
            <div style="display: flex; gap: 5em;">
                <div class="flex-auto p-6">
                    <mat-form-field style=" width: 170% !important; ">
                        <mat-label>Numéro d'immatriculation</mat-label>
                        <input matInput name="matriculation_number" [(ngModel)]="reclamation.matriculation_number">
                    </mat-form-field>
                    <br />
                    <mat-form-field style=" width: 170% !important; ">
                        <mat-label>Immatriculation antérieure</mat-label>
                        <input matInput name="matriculation_interior" [(ngModel)]="reclamation.matriculation_interior">
                    </mat-form-field>
                    <br />
                    <mat-form-field style=" width: 170% !important; ">
                        <mat-label>Usage</mat-label>
                        <input matInput name="type_of_usage" [(ngModel)]="reclamation.type_of_usage">
                    </mat-form-field>
                    <br />
                    <mat-form-field style=" width: 170% !important; ">
                        <mat-label>Véhicule particulier</mat-label>
                        <input matInput name="particular_vehicle" [(ngModel)]="reclamation.particular_vehicle">
                    </mat-form-field>
                    <br />
                    <mat-form-field style=" width: 170% !important; ">
                        <mat-label>Propriétaire</mat-label>
                        <input matInput name="owenr" [(ngModel)]="reclamation.owner">
                    </mat-form-field>
                </div>
                <div class="flex-auto p-6">
                    <mat-form-field style=" width: 170% !important; ">
                        <mat-label>Adresse</mat-label>
                        <input matInput name="address" [(ngModel)]="reclamation.address">
                    </mat-form-field>
                    <br />
                    <mat-form-field style=" width: 170% !important; ">
                        <mat-label>Mutation le</mat-label>
                        <input matInput [matDatepicker]="mutationPicker" name="mutation"
                            [(ngModel)]="reclamation.mutation">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="mutationPicker"></mat-datepicker-toggle>
                        <mat-datepicker #mutationPicker></mat-datepicker>
                    </mat-form-field>

                    <br />

                    <mat-form-field style=" width: 170% !important; ">
                        <mat-label>Fin de validité</mat-label>
                        <input matInput [matDatepicker]="validityPicker" name="end_of_validity"
                            [(ngModel)]="reclamation.end_of_validity">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="validityPicker"></mat-datepicker-toggle>
                        <mat-datepicker #validityPicker></mat-datepicker>
                    </mat-form-field>

                    <br />

                    <mat-form-field style=" width: 170% !important; ">
                        <mat-label>1ère M.C</mat-label>
                        <input matInput [matDatepicker]="firstTimePicker" name="first_time_in_circulation"
                            [(ngModel)]="reclamation.first_time_in_circulation">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="firstTimePicker"></mat-datepicker-toggle>
                        <mat-datepicker #firstTimePicker></mat-datepicker>
                    </mat-form-field>

                    <br />

                    <mat-form-field style=" width: 170% !important; ">
                        <mat-label>M.C. au Maroc</mat-label>
                        <input matInput [matDatepicker]="moroccoUsePicker" name="first_use_in_morocco"
                            [(ngModel)]="reclamation.first_use_in_morocco">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="moroccoUsePicker"></mat-datepicker-toggle>
                        <mat-datepicker #moroccoUsePicker></mat-datepicker>
                    </mat-form-field>

                </div>
            </div>
            <button mat-raised-button
                style=" background-color: #3F51B5; /* cursor: pointer; */ color: white; padding: .5em; border-radius: 5px; margin-bottom: 1em; ">Ajouter</button>
        </form>
    </div>
</div>
